/*to reset css from the default settings*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of the reset*/
body{
    max-width:375px;
    /* border: 1px solid #FF6464; */
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    color: #21243D;
    /* background: rgb(185, 185, 185); */
    margin: 0 auto;
    /* border:1px solid black; */
}
nav{
    display:none;
}
.mobile_header{
    height: 50px;
    /* background-color:bisque; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 18px;
}
.icon_menu{
    width: 30px;
    height: 18px;
    left: 327px;
    top: 16px;
}
#block_one{
display:flex;
flex-direction: column-reverse;
align-items: center;
}
#cont_left{
	/* width:40%; */
	/* background-color: rgb(235, 100, 23); */
	display:flex;
    flex-direction: column;
	align-items:center;
	/* align-items: center; */
}
h1.mob_h{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #21243D;
    max-width: 216px;
    margin-bottom: 21px;
}
#inform{
    max-width: 328px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 27px;
}
button{
	background-color: #FF6464;
	padding:12px 20px 12px 20px;	
	/* padding:9px 20px 17px 20px; */
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	color: #FFFFFF;
	border-style: none;
	border-radius: 2px;
	/* min-width: ; */
    margin-bottom: 58px;
	
}
.avatar{
    margin-top: 33px;
    margin-bottom: 34px;
    width:170px;
    height:170px;
    border-radius: 50%;
	box-shadow: -5px 7px 
	#EDF7FA;
}
/* Block 2, Recent Posts */
#bl_container{
    background-color: #EDF7FA;
	/* width:100vw; */
	height:auto;
}
.twenty-two{
    text-align: center;
    padding: 18px 0 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
#link_view{
    display:none;
}
#two_cards{
	display:flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
    gap: 17px;
	/* height: 327px; */
	/* gap:20px; */
}
.card_bare {
	width: 354px;
    /* height: 266px; */
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	box-sizing: border-box;
	/* padding: 20px 24px; */
    padding: 12px 20px 18px 20px;
}
.card_bare.last{
    margin-bottom: 38px;
}

h3{
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	font-weight: 700;
    font-size: 22px;
    line-height: 30px;
	margin-bottom:12px;
}
.date_subj{
	display: flex;
	justify-content: flex-start;
	gap:30px;
	margin-bottom:19px;
    align-items: center;
}
.separator{
	width:1px;
	height:13px;
	background-color: #21243D;
}
.slightly_bigger{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.text_card{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
}
/* Block3 "Featured" */
/* #block_three{
    background-color: rgb(220, 156, 202);
} */
.twenty-two_dop{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 20px 0;
}
.card_featured_work{
    display:flex;
    flex-direction: column;
    padding-left: 18px;
    /* align-items: center; */
    /* background-color: aqua; */
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 17px;;
	/* margin-bottom: 32px; */
    
}
img.featured{
    max-width: 339px;
    min-height: 230px;
}
.h_two_mobile{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 16px 0;
}
p.round_date{
	display: inline-block;
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 900;
    font-size: 16px;
    line-height: 24px;
	color:#FFFFFF;
	background-color: #142850;
	padding: 0 10px;
	border-radius: 16px;
	margin-right: 22px;
    
}
p.round_date.w{
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}
p.twenty_grey{
	display: inline-block;
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
	color: #8695A4;
}
.sm_text{
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* padding-right: 84px; */
	margin-top: 25px;
}
.card_featured_work.two, .card_featured_work.three{
    display: none;
}
/* end Featured*/

/*Footer*/
footer{
	display:flex;
	flex-direction: column;
	height:182px;
	/* background-color:yellow; */
	justify-content: center;
	align-items: center;
    margin-top: 70px;;
}

.socials{
	margin-bottom: 26px;
	/* display:flex;
	justify-content: center; */
	/* max-width:232px; */
	/* flex-basis: 232px; */
	/* align-content: center; */
}
.social_media{
	margin-right: 35px;
}
#last{
	margin-right: 0px;
}
.copyr{
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #21243D;
}
/* Styling BLOG PAGE*/
.page_title{
	margin: 32px 0 0 235px;
    padding-bottom: 24px;
}
#Block_card_container{
	/* background-color: pink; */
	/* margin-left:235px; */
    margin-left:0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap:32px;
}
.Block_card{
	border-bottom: 1px solid #E0E0E0;
	max-width:681px;
}
h4{
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 500;
    font-size: 26px;
    line-height: 38px;
	color: #21243D;
	margin-bottom:5px;
}
.slightly_bigger20 {
	font-family: 'Heebo', sans-serif;
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
	color: #21243D;
}
.light{
	color: #8695A4;
}
p.text_card.otstup{
	padding-bottom: 24px;
}
.f_bl{
	margin-top: 70px;
}

/*Work Detalis page*/
h1.page_title.thirtyfour {
	font-family: 'Heebo', sans-serif;
    color: red;
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 50px;
	color: #21243D;
	display:inline-block;
	max-width: 506px;
	/* margin-bottom: 30px; */
}
.details_container{
	margin-left:235px;	
}
p.round_date.det{
	background-color: #FF7C7C;
	display:inline-block;
	margin-right: 17px;
}
.subj{
	display:inline-block;
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #21243D;
}
.length{
	display: inline-block;
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	/* width: 681px; */
    width: 339px;
	margin: 28px 0 46px 0;
}
#after_pic{
	margin-top:34px;
}
h5{
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	color: #21243D;
}
.detail_pics.three{
	margin: 23px 0;
}
/* BLOG PAGE MOBILE */
#Block_card_container{
    padding-left: 18px;
}
.page_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    padding-left: 18px;
    margin-left:0;
}
/* WORK PAGE MOBILE */
h2.work{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px; 
    padding-top: 17px;
}
.cardless{
    display: none;
}
.card_featured_work{
    margin-bottom: 22px;
}
/* WORK DETAIL MOBILE */

.details_container{
    margin-left: 0;
    padding-left: 18px;
}
.subjDet{
    display: inline-block;
    width: 262px;
}
.date_line{
    display: flex;
    align-items: baseline;
}
h1.page_title.thirtyfour{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    padding-left: 0;
}
.detail_pics{
    width: 339px;
}
h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
#footer_details{
    margin-top: 7px;
}
